h1:not(.logo) {
	color: $primaryColor;
	font-size: 64px;
	font-family: Inter;
	font-weight: 700;
}
h3 {
	font-size: 20px;
	font-family: Inter;
	font-weight: 600;
	line-height: 160%;
}
h4 {
	font-size: 16px;
	font-family: Inter;
	font-weight: 500;
	line-height: 160%;
}
.normal_sel {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 36px;
	border: 2px solid #333;
	background-color: #fff6e9;
	border-radius: 8px;
	@include minmw(M) {
		max-width: 195px;
		& + &:after {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			left: -57px;
			display: block;
			width: 18px;
			height: 18px;
			margin: auto 0;
			background: url("../../images/icon/icon_trangle.svg") no-repeat
				center/contain;
		}
	}
	& + & {
		@include minmw(M) {
			margin-left: 114px;
		}
		@include mw(M) {
			margin-top: 50px;
		}
	}

	&:before {
		content: attr(data-txt);
		position: absolute;
		left: 0;
		bottom: calc(100% + 8px);
		color: $primaryColor;
		font-size: 24px;
		font-family: Inter;
		font-weight: 600;
		letter-spacing: 4.8px;
	}

	// .normal_sel_txt
	&_txt {
		position: relative;
		@include d_f(flex, none, center);
		width: 100%;
		height: 100%;
		padding: 0 14px;
		color: $primaryColor;
		font-size: 14px;
		font-weight: 500;
		line-height: 160%;
		letter-spacing: 1.4px;
		border-radius: 8px;
		@extend %hand;
		&::after {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			right: 14px;
			display: block;
			width: 28px;
			height: 28px;
			margin: auto;
			background: url("../../images/icon/icon_down.svg") no-repeat
				center/contain;
		}
	}
}
.normal_btn {
	height: 38px;
	font-size: 14px;
	font-family: Inter;
	font-weight: 500;
	line-height: 160%;
	letter-spacing: 1.4px;
	border-radius: 8px;
	border: 2px solid #333;
	background: $primaryColor;
	color: #fff;
	box-shadow: 4px 4px 0px 0px #333;
	@extend %transition;
	@extend %hand;
	@include hoverHandler {
		transform: translate(4px, 4px);
		box-shadow: 0px 0px 0px 0px #333;
	}
}
.normal_check {
	@include d_f(flex, none, center);
	color: #333;
	font-size: 16px;
	font-family: Inter;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	@extend %hand;
	// .normal_check_box
	&_box {
		@include d_f(flex, center, center);
		width: 20px;
		height: 20px;
		margin-right: 16px;
		border-radius: 4px;
		border: 2px solid $primaryColor;
		&::after {
			content: "";
			display: none;
			width: 10px;
			height: 5px;
			border: 1px solid $primaryColor;
			border-width: 0 0 2px 2px;
			transform: rotate(-45deg);
			input:checked + & {
				display: block;
			}
		}
	}
	& + & {
		margin-top: 13px;
	}
	.course_func_sort + & {
		margin-top: 8.5px;
	}
}
.shadow {
	border: 2px solid #333;
	box-shadow: 4px 4px 0px 0px #333;
	background: #fff6e9;
	border-radius: 20px;
}
.msgL {
	&::before {
		content: attr(data-msgL);
	}
}
.wrap {
	display: grid;
	grid-template-rows: auto 40px;
	min-height: 100%;
	padding-top: 56px;
	background-color: #b1d7d5;
	background-image: url("../../images/bg.png");
}
.content {
	width: 100%;
	height: 100%;
	padding: 48px 20px;
	// .content_head
	&_head {
		@include d_f(flex, center, center);
		@include mw(M) {
			flex-direction: column-reverse;
		}
	}
	// .content_pic
	&_pic {
		width: 100%;
		max-width: 250px;
		margin-left: 50px;
		@include mw(M) {
			margin-left: 0;
			margin-bottom: 32px;
		}
		// opacity: 0;
	}
}
.container {
	width: 100%;
	max-width: 1140px;
	margin: auto;
	@include mw(M) {
		max-width: 768px;
	}
}
.head {
	z-index: 10;
	flex: none;
	position: fixed;
	top: 0;
	left: 0;
	@include d_f(flex, none, center);
	width: 100%;
	height: 56px;
	padding: 0 20px;
	background-color: $primaryColor;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
	@include mw(M) {
		padding-right: 0;
	}
}
.footer {
	@include d_f(flex, center, center);
	width: 100%;
	height: 40px;
	background-color: $primaryColor;
	color: $white;
	font-size: 16px;
	font-family: Inter;
	font-weight: 500;
	border-top: 2px solid #333;
}
.logo {
	width: 100px;
}
.menu {
	@include d_f(flex, none, center);
	margin-left: auto;
	@extend %transition;

	@include mw(M) {
		position: absolute;
		top: 58px;
		left: 0;
		flex-wrap: wrap;
		align-content: flex-start;
		justify-content: center;
		width: 100%;
		height: calc(100vh - 58px);
		background-color: $primaryColor;
		transform: translateX(100%);
		._showMenu & {
			transform: translateX(0);
		}
	}
	// .menu_item
	&_item {
		color: $white;
		@extend %transition;
		@extend %hand;
		@include hoverHandler {
			opacity: 0.7;
		}
		@include mw(M) {
			width: 100%;
			height: 80px;
			text-align: center;
			border-bottom: 2px dashed #fff6e9;
		}
		@include minmw(M) {
			& + & {
				margin-left: 20px;
			}
		}
		&._car,
		&._user {
			width: 28px;
			height: 28px;
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
			filter: $svgWhite;
			@include mw(M) {
				margin-top: 24px;
				border-bottom: none;
			}
		}
		&._car {
			background-image: url("../../images/icon/icon_car.svg");
		}
		&._user {
			background-image: url("../../images/icon/icon_user.svg");
			@include mw(M) {
				margin-left: 32px;
			}
		}
		a {
			@include d_f(flex, center, center);
			width: 100%;
			height: 100%;
		}
	}
	// .menu_btn
	&_btn {
		position: relative;
		display: none;
		width: 56px;
		height: 56px;
		border-left: 1px solid #333;
		@extend %transition;
		@extend %hand;
		@include hoverHandler {
			opacity: 0.7;
		}
		// .menu_btn_line
		&_line {
			position: relative;
			display: block;
			width: 20px;
			height: 4px;
			background-color: rgba(255, 246, 233, 1);
			border-radius: 1px;
			@extend %transition;
			._showMenu & {
				background-color: rgba(255, 246, 233, 0);
			}
			&::before,
			&::after {
				content: "";
				position: absolute;
				display: block;
				width: 20px;
				height: 4px;
				background-color: #fff6e9;
				border-radius: 1px;
				@extend %transition;
			}
			&::before {
				top: -8px;
				._showMenu & {
					top: 0;
					transform: rotate(45deg);
				}
			}
			&::after {
				bottom: -8px;
				._showMenu & {
					bottom: 0;
					transform: rotate(-45deg);
				}
			}
		}
		@include mw(M) {
			@include d_f(flex, center, center);
			margin-left: auto;
		}
	}
}
.func {
	@include d_f(flex, center);
	width: 100%;
	margin-top: 85px;
	@include mw(M) {
		flex-direction: column;
	}
}
.card {
	width: 100%;
	margin-top: 48px;
	.address,
	.time,
	.phone,
	.sort {
		margin-top: 23.5px;
		@include mw(M) {
			margin-top: 16px;
		}
	}
	// .card_item
	&_item {
		@include d_f(flex);
		padding: 24px;
		@include mw(M) {
			flex-direction: column;
			padding: 16px;
		}
		& + & {
			margin-top: 48px;
		}
		// .card_item_pic
		&_pic {
			overflow: hidden;
			flex: none;
			max-width: 387px;
			margin-right: 64px;
			border-radius: 20px;
			@include mw(M) {
				max-width: 100%;
				margin-right: 0;
				margin-bottom: 32px;
			}
		}
		// .card_item_txt
		&_txt {
			position: relative;
			@include d_f(flex, center);
			flex-direction: column;
			width: 100%;
			color: #333;
			.normal_btn {
				position: absolute;
				right: 0;
				bottom: 0;
				max-width: 130px;
				@include mw(M) {
					position: relative;
					bottom: 0;
					right: 0;
					max-width: calc(100% - 24px - 22px);
					margin-top: 16px;
					margin-right: 24px;
				}
			}
			.icon_collect {
				position: absolute;
				top: 0;
				right: 0;
				@include mw(M) {
					top: auto;
					right: 0;
					bottom: 0;
				}
			}
		}
	}
}
.sort {
	@include d_f(flex);
	padding: 5px 0;
	// .sort_item
	&_item {
		display: inline-block;
		padding: 4px;
		color: $primaryColor;
		border-radius: 5px;
		border: 2px solid $primaryColor;
		& + & {
			margin-left: 12px;
		}
	}
}
.page {
	@include d_f(flex, center);
	margin-top: 48px;
	li {
		width: 36px;
		height: 36px;
		background-color: $primaryColor;
		@extend %transition;
		@extend %hand;

		@include hoverHandler {
			opacity: 0.7;
		}
	}
	// .page_item
	&_item {
		@include d_f(flex, center, center);
		color: $white;
		font-size: 20px;
		font-family: Inter;
		font-weight: 600;
		line-height: 160%;
	}

	&_prev,
	&_next {
		background-repeat: no-repeat;
		background-position: center;
		background-size: 28px 28px;
	}
	// .page_prev
	&_prev {
		background-image: url("../../images/icon/icon_left.svg");
		border-top-left-radius: 8px;
		border-bottom-left-radius: 8px;
	}
	// .page_next
	&_next {
		background-image: url("../../images/icon/icon_right.svg");
		border-top-right-radius: 8px;
		border-bottom-right-radius: 8px;
	}
}
.icon_collect {
	@extend %hand;
	svg {
		fill: #fff;
	}
}
.course {
	// .course_box
	&_box {
		@include d_f(flex, none, flex-start);
		margin-top: 100px;
		&._detail {
			margin-top: 0;
			@include mw(M) {
				flex-direction: column-reverse;
			}
		}

		.normal_btn {
			width: 100%;
			margin-top: 24px;
		}
	}
	// .course_func
	&_func {
		position: relative;
		width: 100%;
		max-width: 260px;
		margin-left: 28.5px;
		padding: 30px;

		@include mw(M) {
			&:not(._detail) {
				display: none;
			}
			&._detail {
				max-width: 100%;
				margin-left: 0;
				margin-bottom: 48px;
			}
		}

		// .course_func_title
		&_title {
			margin-bottom: 23px;
			color: #333;
			font-size: 24px;
			font-family: Inter;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			letter-spacing: 4.8px;
			text-align: center;

			._detail & {
				@include d_f(flex, center, center);
				color: $primaryColor;
				letter-spacing: 2.4px;
				.icon_collect {
					@include d_f(flex, center, center);
				}
			}
		}

		.normal_sel + .normal_sel:after {
			display: none;
		}
		.normal_sel + .normal_sel {
			margin-left: 0;
			margin-top: 30px;
		}

		// .course_func_sort
		&_sort {
			margin-top: 23px;
			padding-bottom: 4px;
			color: #333;
			font-size: 16px;
			font-family: Inter;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			border-bottom: 2px solid $primaryColor;
		}

		// .course_func_pic
		&_pic {
			max-width: 150px;
			margin: 0 auto 24px;
		}

		// .course_func_num
		&_num {
			@include d_f(flex, space-between, center);
			margin-top: 24px;
			font-size: 16px;
			font-family: Inter;
			font-style: normal;
			font-weight: 600;
			line-height: normal;
			letter-spacing: 3.2px;
			&:after {
				color: $primaryColor;
			}
			&._people:after {
				content: attr(data-txt) "人";
			}
			&._price:after {
				content: "$" attr(data-txt);
			}
		}
	}
	// .course_card
	&_card {
		width: 100%;
		// .course_card_item
		&_item {
			@include d_f(flex);
			padding: 24px;
			& + & {
				margin-top: 48px;
			}

			@include mw(M) {
				flex-direction: column;
				padding: 16px;
			}
		}
		// .course_card_pic
		&_pic {
			overflow: hidden;
			flex: none;
			width: 100%;
			max-width: 420px;
			margin-right: 48px;
			border-radius: 20px;
			@include mw(XL) {
				max-width: 360px;
				margin-right: 24px;
			}
			@include mw(M) {
				max-width: 100%;
				margin-right: 0;
				margin-bottom: 32px;
			}
		}
		// .course_card_txt
		&_txt {
			position: relative;
			.title {
				color: #333;
				font-size: 24px;
				font-family: Inter;
				font-style: normal;
				font-weight: 700;
				line-height: normal;
				letter-spacing: 2.4px;
			}
			.detail {
				overflow: hidden;
				display: -webkit-box;
				-webkit-box-orient: vertical; /* 用來設定一個元素是水平還是垂直方向排列其內容 */
				-webkit-line-clamp: 3; /* 限制指定的行數 */
				/* 其它瀏覽器降級方式：給定最大高度 */
				/*max-height:48px;*/
				margin-top: 24px;
				color: #333;
				font-weight: 600;
				line-height: 130.023%;
				letter-spacing: 1.6px;
				@include mw(XL) {
					margin-top: 12px;
				}
				@include mw(M) {
					-webkit-line-clamp: 2;
				}
			}
			.price {
				@include d_f(flex, none, center);
				margin-top: 24px;
				padding-top: 24px;
				color: $primaryColor;
				font-size: 14px;
				font-family: Inter;
				font-style: normal;
				font-weight: 500;
				line-height: 160%;
				letter-spacing: 1.4px;
				border-top: 1px solid #333;
				&::after {
					content: "$" attr(data-price);
					margin-left: 24px;
					font-size: 24px;
					font-family: Inter;
					font-style: normal;
					font-weight: 700;
					line-height: 160%;
				}
				@include mw(XL) {
					margin-top: 12px;
					padding-top: 12px;
				}
			}
			.time {
				color: $primaryColor;
				&::before {
					content: attr(data-time);
					display: block;
				}
			}
			.icon_collect {
				position: absolute;
				top: 0;
				right: 0;
				@include mw(M) {
					top: auto;
					right: 0;
					bottom: 0;
				}
			}
			.normal_btn {
				position: absolute;
				right: 0;
				bottom: 0;
				width: 100%;
				max-width: 130px;
				@include mw(M) {
					position: relative;
					bottom: 0;
					right: 0;
					max-width: calc(100% - 24px - 22px);
					margin-top: 16px;
					margin-right: 24px;
				}
			}
		}
	}
	// .course_detail
	&_detail {
		@include d_f(flex, space-between);
		flex-wrap: wrap;
		width: 100%;
		padding: 24px;
		// .course_detail_pic
		&_pic {
			overflow: hidden;
			width: 100%;
			border-radius: 20px;

			&._half {
				width: calc(50% - 8px);
			}
			@include mw(M) {
				&._half {
					width: 100%;
				}
				& + & {
					margin-top: 16px;
				}
			}
		}
		// .course_detail_txt
		&_txt {
			padding: 16px 0;
		}
	}
}
