h1 {
	color: $primaryColor;
	font-size: 64px;
	font-family: Inter;
	font-weight: 700;
}
h3 {
	font-size: 20px;
	font-family: Inter;
	font-weight: 600;
	line-height: 160%;
}
h4 {
	font-size: 16px;
	font-family: Inter;
	font-weight: 500;
	line-height: 160%;
}
.normal_sel {
	position: relative;
	display: inline-block;
	width: 100%;
	max-width: 195px;
	height: 36px;

	border: 2px solid #333;
	background-color: #fff6e9;
	border-radius: 8px;
	& + & {
		margin-left: 114px;
	}
	& + &:after {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: -57px;
		display: block;
		width: 18px;
		height: 18px;
		margin: auto 0;
		background: url("../../images/icon/icon_trangle.svg") no-repeat
			center/contain;
	}
	&:before {
		content: attr(data-txt);
		position: absolute;
		left: 0;
		bottom: calc(100% + 8px);
		color: $primaryColor;
		font-size: 24px;
		font-family: Inter;
		font-weight: 600;
		letter-spacing: 4.8px;
	}

	// .normal_sel_txt
	&_txt {
		position: relative;
		@include d_f(flex, none, center);
		width: 100%;
		height: 100%;
		padding: 0 14px;
		color: $primaryColor;
		font-size: 14px;
		font-weight: 500;
		line-height: 160%;
		letter-spacing: 1.4px;
		border-radius: 8px;
		@extend %hand;
		&::after {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			right: 14px;
			display: block;
			width: 28px;
			height: 28px;
			margin: auto;
			background: url("../../images/icon/icon_down.svg") no-repeat
				center/contain;
		}
	}
}
.normal_btn {
	height: 38px;
	font-size: 14px;
	font-family: Inter;
	font-weight: 500;
	line-height: 160%;
	letter-spacing: 1.4px;
	border-radius: 8px;
	border: 2px solid #333;
	background: $primaryColor;
	color: #fff;
	box-shadow: 4px 4px 0px 0px #333;
	@extend %transition;
	@extend %hand;
	@include hoverHandler {
		transform: translate(4px, 4px);
		box-shadow: 0px 0px 0px 0px #333;
	}
}

.shadow {
	border: 2px solid #333;
	box-shadow: 4px 4px 0px 0px #333;
	background: #fff6e9;
	border-radius: 20px;
}
.msgL {
	&::before {
		content: attr(data-msgL);
	}
}
.wrap {
	display: grid;
	grid-template-rows: auto 40px;
	min-height: 100%;
	padding-top: 56px;
	background-color: #e5e5e5;
}
.content {
	width: 100%;
	height: 100%;
	padding: 48px 20px;
	// .content_head
	&_head {
		@include d_f(flex, center, center);
	}
	// .content_pic
	&_pic {
		width: 100%;
		max-width: 250px;
		margin-left: 50px;

		opacity: 0;
	}
}
.container {
	width: 100%;
	max-width: 1140px;
	margin: auto;
}
.head {
	z-index: 10;
	flex: none;
	position: fixed;
	top: 0;
	left: 0;
	@include d_f(flex, none, center);
	width: 100%;
	height: 56px;
	padding: 0 20px;
	background-color: $primaryColor;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
	@include mw(M) {
		padding-right: 0;
	}
}
.footer {
	@include d_f(flex, center, center);
	width: 100%;
	height: 40px;
	background-color: $primaryColor;
	color: $white;
	font-size: 16px;
	font-family: Inter;
	font-weight: 500;
	border-top: 2px solid #333;
}
.logo {
	width: 100px;
}
.menu {
	@include d_f(flex, none, center);
	margin-left: auto;
	@extend %transition;

	@include mw(M) {
		position: absolute;
		top: 58px;
		left: 0;
		flex-wrap: wrap;
		align-content: flex-start;
		justify-content: center;
		width: 100%;
		height: calc(100vh - 58px);
		background-color: $primaryColor;
		transform: translateX(100%);
		._showMenu & {
			transform: translateX(0);
		}
	}
	// .menu_item
	&_item {
		color: $white;
		@extend %transition;
		@extend %hand;
		@include hoverHandler {
			opacity: 0.7;
		}
		@include mw(M) {
			width: 100%;
			height: 80px;
			text-align: center;
			border-bottom: 2px dashed #fff6e9;
		}
		@include minmw(M) {
			& + & {
				margin-left: 20px;
			}
		}
		&._car,
		&._user {
			width: 28px;
			height: 28px;
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
			filter: $svgWhite;
			@include mw(M) {
				margin-top: 24px;
				border-bottom: none;
			}
		}
		&._car {
			background-image: url("../../images/icon/icon_car.svg");
		}
		&._user {
			background-image: url("../../images/icon/icon_user.svg");
			@include mw(M) {
				margin-left: 32px;
			}
		}
		a {
			@include d_f(flex, center, center);
			width: 100%;
			height: 100%;
		}
	}
	// .menu_btn
	&_btn {
		position: relative;
		display: none;
		width: 56px;
		height: 56px;
		border-left: 1px solid #333;
		@extend %transition;
		@extend %hand;
		@include hoverHandler {
			opacity: 0.7;
		}
		// .menu_btn_line
		&_line {
			position: relative;
			display: block;
			width: 20px;
			height: 4px;
			background-color: rgba(255, 246, 233, 1);
			border-radius: 1px;
			@extend %transition;
			._showMenu & {
				background-color: rgba(255, 246, 233, 0);
			}
			&::before,
			&::after {
				content: "";
				position: absolute;
				display: block;
				width: 20px;
				height: 4px;
				background-color: #fff6e9;
				border-radius: 1px;
				@extend %transition;
			}
			&::before {
				top: -8px;
				._showMenu & {
					top: 0;
					transform: rotate(45deg);
				}
			}
			&::after {
				bottom: -8px;
				._showMenu & {
					bottom: 0;
					transform: rotate(-45deg);
				}
			}
		}
		@include mw(M) {
			@include d_f(flex, center, center);
			margin-left: auto;
		}
	}
}
.func {
	@include d_f(flex, center);
	width: 100%;
	margin-top: 85px;
}
.card {
	width: 100%;
	margin-top: 48px;
	.address,
	.time,
	.phone,
	.sort {
		margin-top: 23.5px;
	}
	// .card_item
	&_item {
		position: relative;
		@include d_f(flex);
		padding: 24px;
		& + & {
			margin-top: 48px;
		}
		// .card_item_pic
		&_pic {
			overflow: hidden;
			max-width: 387px;
			margin-right: 64px;
			border-radius: 20px;
		}
		// .card_item_txt
		&_txt {
			@include d_f(flex, center);
			flex-direction: column;
			color: #333;

			.normal_btn {
				position: absolute;
				right: 24px;
				bottom: 24px;
				width: 100%;
				max-width: 130px;
			}
			.icon_collect {
				position: absolute;
				top: 24px;
				right: 24px;
			}
		}
	}
}
.sort {
	@include d_f(flex);
	padding: 5px 0;
	// .sort_item
	&_item {
		display: inline-block;
		padding: 4px;
		color: $primaryColor;
		border-radius: 5px;
		border: 2px solid $primaryColor;
		& + & {
			margin-left: 12px;
		}
	}
}
.page {
	@include d_f(flex, center);
	margin-top: 48px;
	li {
		width: 36px;
		height: 36px;
		background-color: $primaryColor;
		@extend %transition;
		@extend %hand;

		@include hoverHandler {
			opacity: 0.7;
		}
	}
	// .page_item
	&_item {
		@include d_f(flex, center, center);
		color: $white;
		font-size: 20px;
		font-family: Inter;
		font-weight: 600;
		line-height: 160%;
	}

	&_prev,
	&_next {
		background-repeat: no-repeat;
		background-position: center;
		background-size: 28px 28px;
	}
	// .page_prev
	&_prev {
		background-image: url("../../images/icon/icon_left.svg");
		border-top-left-radius: 8px;
		border-bottom-left-radius: 8px;
	}
	// .page_next
	&_next {
		background-image: url("../../images/icon/icon_right.svg");
		border-top-right-radius: 8px;
		border-bottom-right-radius: 8px;
	}
}
.icon_collect {
	@extend %hand;
	svg {
		fill: #fff;
	}
}
