@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
em,
img,
tt,
b,
i,
ol,
ul,
li,
form,
label,
caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  list-style: none;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  color: #262626;
  font-family: "Abhaya Libre", sans-serif;
}

/* 
僅限ios15以上的safari瀏覽器
才加class在html上(高度改為100vh的class)
並於以下狀態
在html加上重整高度class(一秒後移除)
1.從登入頁進入到主框架時
2.鍵盤彈出後收起時 
*/
html.ios15 {
  height: 100vh;
}

.ios15 body {
  height: 100vh;
}

*:hover,
*:focus,
*:active {
  outline: 0;
  -moz-outline: none;
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
textarea,
button {
  border: none;
  font-family: "Helvetica", sans-serif;
  padding: 0;
  border: 0;
  background-color: transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  resize: none;
  font-size: 15px;
}

button {
  border: none;
  background-color: transparent;
}

img {
  width: 100%;
  vertical-align: middle;
}

select {
  border: none;
  -webkit-appearance: none;
}

@media only screen and (min-device-width: 1025px) {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border: 1px #f1f1f1 solid;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: background 0.5s linear;
    transition: background 0.5s linear;
  }
  *:hover::-webkit-scrollbar-thumb {
    background-color: #a9a9a9;
  }
  ::-webkit-scrollbar-corner {
    background-color: #f1f1f1;
  }
}

.normal_btn, .menu, .menu_item, .menu_btn, .menu_btn_line, .menu_btn_line::before, .menu_btn_line::after, .page li {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.normal_sel_txt, .normal_btn, .normal_check, .menu_item, .menu_btn, .page li, .icon_collect {
  cursor: pointer;
}

h1:not(.logo) {
  color: #005f5f;
  font-size: 64px;
  font-family: Inter;
  font-weight: 700;
}

h3 {
  font-size: 20px;
  font-family: Inter;
  font-weight: 600;
  line-height: 160%;
}

h4 {
  font-size: 16px;
  font-family: Inter;
  font-weight: 500;
  line-height: 160%;
}

.normal_sel {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 36px;
  border: 2px solid #333;
  background-color: #fff6e9;
  border-radius: 8px;
}

@media screen and (min-width: 996px) {
  .normal_sel {
    max-width: 195px;
  }
  .normal_sel + .normal_sel:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -57px;
    display: block;
    width: 18px;
    height: 18px;
    margin: auto 0;
    background: url("../../images/icon/icon_trangle.svg") no-repeat center/contain;
  }
}

@media screen and (min-width: 996px) {
  .normal_sel + .normal_sel {
    margin-left: 114px;
  }
}

@media screen and (max-width: 995px) {
  .normal_sel + .normal_sel {
    margin-top: 50px;
  }
}

.normal_sel:before {
  content: attr(data-txt);
  position: absolute;
  left: 0;
  bottom: calc(100% + 8px);
  color: #005f5f;
  font-size: 24px;
  font-family: Inter;
  font-weight: 600;
  letter-spacing: 4.8px;
}

.normal_sel_txt {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 14px;
  color: #005f5f;
  font-size: 14px;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: 1.4px;
  border-radius: 8px;
}

.normal_sel_txt::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 14px;
  display: block;
  width: 28px;
  height: 28px;
  margin: auto;
  background: url("../../images/icon/icon_down.svg") no-repeat center/contain;
}

.normal_btn {
  height: 38px;
  font-size: 14px;
  font-family: Inter;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: 1.4px;
  border-radius: 8px;
  border: 2px solid #333;
  background: #005f5f;
  color: #fff;
  -webkit-box-shadow: 4px 4px 0px 0px #333;
          box-shadow: 4px 4px 0px 0px #333;
}

@media (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (pointer: fine) and (max-resolution: 2dppx), screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (-moz-touch-enabled: 0) {
  .normal_btn:hover {
    -webkit-transform: translate(4px, 4px);
            transform: translate(4px, 4px);
    -webkit-box-shadow: 0px 0px 0px 0px #333;
            box-shadow: 0px 0px 0px 0px #333;
  }
}

.normal_btn:active {
  -webkit-transform: translate(4px, 4px);
          transform: translate(4px, 4px);
  -webkit-box-shadow: 0px 0px 0px 0px #333;
          box-shadow: 0px 0px 0px 0px #333;
}

.normal_check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #333;
  font-size: 16px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.normal_check_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20px;
  height: 20px;
  margin-right: 16px;
  border-radius: 4px;
  border: 2px solid #005f5f;
}

.normal_check_box::after {
  content: "";
  display: none;
  width: 10px;
  height: 5px;
  border: 1px solid #005f5f;
  border-width: 0 0 2px 2px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

input:checked + .normal_check_box::after {
  display: block;
}

.normal_check + .normal_check {
  margin-top: 13px;
}

.course_func_sort + .normal_check {
  margin-top: 8.5px;
}

.shadow {
  border: 2px solid #333;
  -webkit-box-shadow: 4px 4px 0px 0px #333;
          box-shadow: 4px 4px 0px 0px #333;
  background: #fff6e9;
  border-radius: 20px;
}

.msgL::before {
  content: attr(data-msgL);
}

.wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 40px;
      grid-template-rows: auto 40px;
  min-height: 100%;
  padding-top: 56px;
  background-color: #b1d7d5;
  background-image: url("../../images/bg.png");
}

.content {
  width: 100%;
  height: 100%;
  padding: 48px 20px;
}

.content_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 995px) {
  .content_head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.content_pic {
  width: 100%;
  max-width: 250px;
  margin-left: 50px;
}

@media screen and (max-width: 995px) {
  .content_pic {
    margin-left: 0;
    margin-bottom: 32px;
  }
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: auto;
}

@media screen and (max-width: 995px) {
  .container {
    max-width: 768px;
  }
}

.head {
  z-index: 10;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 56px;
  padding: 0 20px;
  background-color: #005f5f;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 995px) {
  .head {
    padding-right: 0;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 40px;
  background-color: #005f5f;
  color: #fff6e9;
  font-size: 16px;
  font-family: Inter;
  font-weight: 500;
  border-top: 2px solid #333;
}

.logo {
  width: 100px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

@media screen and (max-width: 995px) {
  .menu {
    position: absolute;
    top: 58px;
    left: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: calc(100vh - 58px);
    background-color: #005f5f;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  ._showMenu .menu {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.menu_item {
  color: #fff6e9;
}

@media (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (pointer: fine) and (max-resolution: 2dppx), screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (-moz-touch-enabled: 0) {
  .menu_item:hover {
    opacity: 0.7;
  }
}

.menu_item:active {
  opacity: 0.7;
}

@media screen and (max-width: 995px) {
  .menu_item {
    width: 100%;
    height: 80px;
    text-align: center;
    border-bottom: 2px dashed #fff6e9;
  }
}

@media screen and (min-width: 996px) {
  .menu_item + .menu_item {
    margin-left: 20px;
  }
}

.menu_item._car, .menu_item._user {
  width: 28px;
  height: 28px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  -webkit-filter: invert(91%) sepia(15%) saturate(631%) hue-rotate(313deg) brightness(109%) contrast(103%);
          filter: invert(91%) sepia(15%) saturate(631%) hue-rotate(313deg) brightness(109%) contrast(103%);
}

@media screen and (max-width: 995px) {
  .menu_item._car, .menu_item._user {
    margin-top: 24px;
    border-bottom: none;
  }
}

.menu_item._car {
  background-image: url("../../images/icon/icon_car.svg");
}

.menu_item._user {
  background-image: url("../../images/icon/icon_user.svg");
}

@media screen and (max-width: 995px) {
  .menu_item._user {
    margin-left: 32px;
  }
}

.menu_item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.menu_btn {
  position: relative;
  display: none;
  width: 56px;
  height: 56px;
  border-left: 1px solid #333;
}

@media (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (pointer: fine) and (max-resolution: 2dppx), screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (-moz-touch-enabled: 0) {
  .menu_btn:hover {
    opacity: 0.7;
  }
}

.menu_btn:active {
  opacity: 0.7;
}

.menu_btn_line {
  position: relative;
  display: block;
  width: 20px;
  height: 4px;
  background-color: #fff6e9;
  border-radius: 1px;
}

._showMenu .menu_btn_line {
  background-color: rgba(255, 246, 233, 0);
}

.menu_btn_line::before, .menu_btn_line::after {
  content: "";
  position: absolute;
  display: block;
  width: 20px;
  height: 4px;
  background-color: #fff6e9;
  border-radius: 1px;
}

.menu_btn_line::before {
  top: -8px;
}

._showMenu .menu_btn_line::before {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu_btn_line::after {
  bottom: -8px;
}

._showMenu .menu_btn_line::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media screen and (max-width: 995px) {
  .menu_btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
  }
}

.func {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
  margin-top: 85px;
}

@media screen and (max-width: 995px) {
  .func {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.card {
  width: 100%;
  margin-top: 48px;
}

.card .address,
.card .time,
.card .phone,
.card .sort {
  margin-top: 23.5px;
}

@media screen and (max-width: 995px) {
  .card .address,
  .card .time,
  .card .phone,
  .card .sort {
    margin-top: 16px;
  }
}

.card_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 24px;
}

@media screen and (max-width: 995px) {
  .card_item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 16px;
  }
}

.card_item + .card_item {
  margin-top: 48px;
}

.card_item_pic {
  overflow: hidden;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  max-width: 387px;
  margin-right: 64px;
  border-radius: 20px;
}

@media screen and (max-width: 995px) {
  .card_item_pic {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 32px;
  }
}

.card_item_txt {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  color: #333;
}

.card_item_txt .normal_btn {
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 130px;
}

@media screen and (max-width: 995px) {
  .card_item_txt .normal_btn {
    position: relative;
    bottom: 0;
    right: 0;
    max-width: calc(100% - 24px - 22px);
    margin-top: 16px;
    margin-right: 24px;
  }
}

.card_item_txt .icon_collect {
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (max-width: 995px) {
  .card_item_txt .icon_collect {
    top: auto;
    right: 0;
    bottom: 0;
  }
}

.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 5px 0;
}

.sort_item {
  display: inline-block;
  padding: 4px;
  color: #005f5f;
  border-radius: 5px;
  border: 2px solid #005f5f;
}

.sort_item + .sort_item {
  margin-left: 12px;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-top: 48px;
}

.page li {
  width: 36px;
  height: 36px;
  background-color: #005f5f;
}

@media (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (pointer: fine) and (max-resolution: 2dppx), screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (-moz-touch-enabled: 0) {
  .page li:hover {
    opacity: 0.7;
  }
}

.page li:active {
  opacity: 0.7;
}

.page_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff6e9;
  font-size: 20px;
  font-family: Inter;
  font-weight: 600;
  line-height: 160%;
}

.page_prev, .page_next {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px 28px;
}

.page_prev {
  background-image: url("../../images/icon/icon_left.svg");
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.page_next {
  background-image: url("../../images/icon/icon_right.svg");
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.icon_collect svg {
  fill: #fff;
}

.course_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 100px;
}

.course_func {
  width: 100%;
  max-width: 260px;
  margin-left: 28.5px;
  padding: 30px;
}

.course_func_title {
  margin-bottom: 23px;
  color: #333;
  font-size: 24px;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 4.8px;
  text-align: center;
}

.course_func .normal_sel + .normal_sel:after {
  display: none;
}

.course_func .normal_sel + .normal_sel {
  margin-left: 0;
  margin-top: 30px;
}

.course_func_sort {
  margin-top: 23px;
  padding-bottom: 4px;
  color: #333;
  font-size: 16px;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-bottom: 2px solid #005f5f;
}

.course_card {
  width: 100%;
}

.course_card_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 24px;
}

.course_card_item + .course_card_item {
  margin-top: 48px;
}

.course_card_pic {
  overflow: hidden;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 100%;
  max-width: 420px;
  margin-right: 48px;
  border-radius: 20px;
}

@media screen and (max-width: 1140px) {
  .course_card_pic {
    max-width: 360px;
    margin-right: 24px;
  }
}

.course_card_txt {
  position: relative;
}

.course_card_txt .title {
  color: #333;
  font-size: 24px;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.4px;
}

.course_card_txt .detail {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  /* 用來設定一個元素是水平還是垂直方向排列其內容 */
  -webkit-line-clamp: 3;
  /* 限制指定的行數 */
  /* 其它瀏覽器降級方式：給定最大高度 */
  /*max-height:48px;*/
  margin-top: 24px;
  color: #333;
  font-size: 16px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  line-height: 130.023%;
  letter-spacing: 1.6px;
}

@media screen and (max-width: 1140px) {
  .course_card_txt .detail {
    margin-top: 12px;
  }
}

.course_card_txt .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 24px;
  padding-top: 24px;
  color: #005f5f;
  font-size: 14px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: 1.4px;
  border-top: 1px solid #333;
}

.course_card_txt .price::after {
  content: "$" attr(data-price);
  margin-left: 24px;
  font-size: 24px;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
}

@media screen and (max-width: 1140px) {
  .course_card_txt .price {
    margin-top: 12px;
    padding-top: 12px;
  }
}

.course_card_txt .time {
  font-size: 16px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  color: #005f5f;
}

.course_card_txt .time::before {
  content: attr(data-time);
  display: block;
}

.course_card_txt .icon_collect {
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (max-width: 995px) {
  .course_card_txt .icon_collect {
    top: auto;
    right: 0;
    bottom: 0;
  }
}

.course_card_txt .normal_btn {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  max-width: 130px;
}

@media screen and (max-width: 995px) {
  .course_card_txt .normal_btn {
    position: relative;
    bottom: 0;
    right: 0;
    max-width: calc(100% - 24px - 22px);
    margin-top: 16px;
    margin-right: 24px;
  }
}
/*# sourceMappingURL=all.css.map */